<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/Logs/internal-nlog.txt">

	<!-- Enable ASP.NET Core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- Targets to write logs -->
	<targets>
		<!-- Main application log file -->
		<target xsi:type="File" name="logfile"
				fileName="${basedir}/Logs/QueueSystem_${shortdate}.log"
				archiveFileName="Logs/Archived/QueueSystem_{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				concurrentWrites="true"
				keepFileOpen="false"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
	</targets>

	<!-- Logging rules -->
	<rules>
		<!-- Log everything from your app namespace -->
		<logger name="QueueSystem.*" minlevel="Info" writeTo="logfile" />

		<!-- Exclude noisy framework logs -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.*" maxlevel="Info" final="true" />
	</rules>
</nlog>
